
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/invoice_main.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerTabs"  id="vTabs">
		<p>
			<router-link to="/"> Invoices</router-link>
			<!-- <router-link 
				to="/reserva"> 
				Formulario 
			</router-link> -->
		</p>
		<router-view 
			@change-page="onChangePage" 
			@close-dialog="onCloseDialog">
		</router-view>
	</div>

	<div id="container-requests">
		<div class="layerData" id="vContainer" >
			<div class="row layerFields">
				{% include 'invoices/filters/filter_invoice.html' %}
			</div>
			<div class="layerTable">
				{% include 'invoices/tables/table_invoice.html' %}
			</div>
			<div class="pager">
			  <el-pagination
			    :page-size="list.page.page_size"
			    :pager-count="list.page.page_count"
			    :current-page="list.page.page_current"
			    layout="prev, pager, next"
			    @current-change="handleChangePage"
			    :total="list.page.page_total">
			  </el-pagination>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros : </span>
					<label> 
						${totales.filas} de ${list.page.page_total}
					</label>
				</div>
			</div>
		</div>
	</div>
	<div id="container-form">
		<div id="vItem">
			{% include 'invoices/forms/form_invoice.html' %}
		</div>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/unpkg.com/vue-router@3.0.1/dist/vue-router.min.js' %}"></script>
	<script type="text/javascript">
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_CATEGORIAS = "{% url 'apiv1:metas_obtener_categorias' %}";
		const URI_ARTICULOS = "{% url 'apiv1:metas_obtener_articulos' %}";
		const URI_TDOCUMENTO = "{% url 'apiv1:metas_obtener_tdocumento' %}";
		const URI_TDOCPAGO = "{% url 'apiv1:metas_obtener_tdocumento_pago' %}";		
		const URI_FPAGO = "{% url 'apiv1:metas_obtener_forma_pago' %}";		
		const URI_CLIENTES = "{% url 'apiv1:metas_obtener_clientes' %}";
		const URI_ESTADOS_VENTA = "{% url 'apiv1:invoice_obtener_estados' %}";
		const URI_TIPO_INV = "{% url 'apiv1:metas_obtener_tipo_invoice' %}";
		const URI_VENDEDOR = "{% url 'apiv1:metas_obtener_vendedores' %}";
		const uidemployer = '0' ;
	</script>
	<script src="{% static '/js/invoice_main.js' %}"></script>
{% endblock %}