.layerUpload{border:1px solid #c0c0c0;background-color:color-white;}.layerUpload.appear{display:block}.layerUpload.dissapear{display:none}.layerUpload form .row{padding:1rem;}.layerUpload form .row .link-example{padding:0 1rem 0 1rem;font-size:1.5rem}