
<form>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-2">
			<div class="form-group">
				<label class="form-label">
					Orden
				</label>
				<input class="form-control form-control-sm" 
					type="text" name="order"
					v-model="search.order">
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label">
					Cliente / Teléfono
				</label>
				<input class="form-control form-control-sm" 
					type="text" name="customer"
					v-model="search.customer">
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-2">
			<div class="form-group">
				<label class="form-label">
					Fecha Desde
				</label>
				<el-date-picker
				      v-model="search.date_from"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
					  value-format="yyyy-MM-dd"
					  name="date_from"
					  size="small"
				      >
			    </el-date-picker>
			    <div v-if="hasError('date_from')"
		    	class="alert alert-danger" 
		    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-2">
			<div class="form-group">
				<label class="form-label">
					Fecha Hasta
				</label>
				<el-date-picker
				      v-model="search.date_to"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
					  value-format="yyyy-MM-dd"
					  name="date_from"
					  size="small"
				      >
			    </el-date-picker>
			    <div v-if="hasError('date_to')"
		    	class="alert alert-danger" 
		    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group">
				<label for="" class="form-label">
					Leyenda :
				</label>
				<el-select v-model="search.sub_tipo_invoice" 
					placeholder="Seleccione"
					filterable
					size="small"
					clearable>
				    <el-option
				      v-for="item in list.list_estados"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6">
			<div class="form-group">
				<el-switch
				  v-model="search.date_filter"
				  active-text="Por fecha entrega"
				  inactive-text="Por fecha emisión">
				</el-switch>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-2">
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-primary"
					title="Buscar"
					v-on:click="handleSearch">
					<i class="fas fa-search"></i>
					Buscar
				</button>
				<button type="button" class="btn btn-warning"
					title="Limpiar"
					v-on:click="handleCleanFields">
					<i class="fas fa-eraser"></i>
					Limpiar
				</button>
				{% if perms.invoice.xlsreport_backoffice %}
					<button type="button" class="btn btn-info"
						title="Exportar"
						v-on:click="handleExportAll">
						<i class="fas fa-file-excel"></i>
						Exportar
					</button>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 div-legend">
		<label>Leyenda :</label>
		<i class="fas fa-circle traffic-green" ></i>
		 Entregado
		<i class="fas fa-circle traffic-yellow" ></i>
		 Hold
		<i class="fas fa-circle traffic-red" ></i>
		 Cancelado
		<i class="fas fa-circle traffic-blue" ></i>
		Confirmado
		<i class="fas fa-circle traffic-orange" ></i>
		Rechazado
	</div>
</form>