<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Order</th>
			<th>Tipo</th>
			<th>Fh. Ingreso</th>
			<th>Cliente</th>
			<th>Nro. Detalles</th>
			<th>Total</th>
			<th>Forma Pago</th>
			<th>Usuario</th>
			<th>Fh. Modif.</th>
			<th>Usuario Modif.</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items" 
			v-bind:class="StyleRowStatus(item)">
			<td>
				{% if perms.invoice.delete_invoiceparent %}
					<button type="button" 
						@click.prevent="removeInvoice(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				{%endif%}
				{% if perms.invoice.change_invoiceparent %}
				<button type="button" 
					@click.prevent="modifyInvoice(item)"
					class="btn btn-info btn-sm"
					title="Modificar">
					<i class="fas fa-pen-square"></i>
				</button>
				{%endif%}
			</td>
			<td>
				${item.order}
			</td>
			<td>
				${item.tipo_invoice?item.tipo_invoice.descripcion:''}
			</td>
			<td>
				${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>${item.cliente? item.cliente.razon_social:''}</td>
			<td> 
				${item.ndetails} 
			</td>
			<td > 
				${item.total}
			</td>
			<td > 
				${item.forma_pago?item.forma_pago.descripcion:''}
			</td>
			<td > 
				${item.username}
			</td>
			<td>
				${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
			</td>
			<td>${item.username_modif||''}</td>	
		</tr>
	</tbody>
</table>