<el-dialog
	title="Registro de Metas Marca"
	:visible.sync="dialog_status"
	:before-close="closeDialog">
	<div class="row Fields">
		<form name="frm-meta-marca">
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Marca</label>
					<el-select v-model="marca" 
						placeholder="Seleccione"
						
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_marcas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Año</label>
					<el-date-picker
					      v-model="anio"
					      type="year"
					      placeholder="Seleccione año"
					      format="yyyy"
					      value-format="yyyy"
					      >
				    </el-date-picker>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Mes</label>
					<el-date-picker
					      v-model="mes"
					      type="month"
					      placeholder="Seleccione mes"
					      format="MM"
					      value-format="MM"
					      >
				    </el-date-picker>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Meta</label>
					<el-input-number 
						
						v-model="meta"
						:min="0" :max="999999">
					</el-input-number>
				</div>
			</div>
		</form>
	</div>
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="cancelDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="confirmDialog">
		Guardar
	</el-button>
	</span>
</el-dialog>