<div class="col-12 col-sm-12 col-md-12 col-md-12 col-lg-12">
	<button class="btn btn-primary" 
		@click.prevent="handleConfirmDialog" title="Guardar Datos">
		<i class="fas fa-save"></i>
		Guardar
	</button>
	<button class="btn btn-danger" 
		v-if="!item_invoice.id"
		@click.prevent="handleCancelOperation" title="Cancelar Operación">
		<i class="fas fa-ban"></i>
		Cancelar
	</button>
	<button class="btn btn-danger" 
		v-if="item_invoice.id"
		@click.prevent="handleCancelOperation" title="Cancelar Operación">
		<i class="fas fa-ban"></i>
		Salir
	</button>
</div>