
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	 <link rel="stylesheet" href="{% static '/css/reservas_feriados.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<div class="layerFields">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="form-group">
					<label class="form-label col-3 col-sm-3 col-lg-3" for="">Fecha</label>
					<input type="text" 
							class="form-control input-lg" 
							v-model="fecha" >
				</div>	
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<button class="btn btn-warning" 
					@click.prevent="getSearch"
					title="Buscar">
					<i class="fas fa-search"></i>
					Buscar
				</button>
				<button class="btn btn-success" 
					@click.prevent="newItem"
					title="Nuevo">
					<i class="fas fa-plus-square"></i>
					Nuevo
				</button>
			</div>
		</div>
		<div class="layerTable">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Fecha</th>
						<th>Descripción</th>
						<th>Estado</th>
						<th>Fh. Ingreso</th>
						<th>Fh. Modif.</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in lst_items">
						<td>
							<button type="button" 
								@click.remove="removeMeta(item)"
								class="btn btn-danger btn-sm"
								title="Eliminar">
								<i class="fas fa-minus-circle"></i>
							</button>
							<button type="button" 
								@click.remove="modifyMeta(item)"
								class="btn btn-info btn-sm"
								title="Modificar">
								<i class="fas fa-pen-square"></i>
							</button>
						</td>
						<td > 
							${item.fecha|format("DD/MM/Y")}
						</td>
						<td > ${item.descripcion}</td>
						<td > ${item.estado.descripcion}</td>
						<td>
							${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
						</td>
						<td>
							${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="summary">
			<div>
				<span>Total Activos :</span>
				<label>${totales.habilitados}</label>
			</div>
			<div>
				<span>Total No Activos :</span>
				<label>${totales.nohabilitados}</label>
			</div>
			<div>
				<span>Total Registros :</span>
				<label>${totales.filas}</label>
			</div>
		</div>
	</div>
	<div id="vModal" v-bind:class="{locked:style_locked}">
		{% include 'reservas/forms/form_feriados.html' %}
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/vue/dist/vue.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">
		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
	</script>
	<script src="{% static '/js/reservas_feriados.js' %}"></script>
{% endblock %}