
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	 <link rel="stylesheet" href="{% static '/css/reservas_calendario.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerTabs"  id="vTabs">
		<p>
			<router-link to="/"> Reservaciones</router-link>
			<!-- <router-link 
				to="/reserva"> 
				Formulario 
			</router-link> -->
		</p>
		<router-view 
			@change-page="onChangePage" 
			@close-dialog="onCloseDialog">
		</router-view>
	</div>

	<div id="container-requests">
		<div class="layerData" id="vContainer" >
			<div class="row layerFields">
				<form data-toggle="validator" role="form">
					<div class="form-row">
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Personal</label>
							<input 
								type="text" 
								class="form-control input-lg"  
								v-model = "empleado"
								name="empleado" 
								>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Desde</label>
							<el-date-picker
							      v-model="fecha_desde"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_desde"
							      >
						    </el-date-picker>
						    <div v-if="hasError('fecha_desde')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
						<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
							<label class="form-label"
								 for="">Fecha Hasta</label>
							<el-date-picker
							      v-model="fecha_hasta"
							      type="date"
							      placeholder="Seleccione Fecha"
							      format="dd/MM/yyyy"
								  value-format="yyyy-MM-dd"
								  name="fecha_hasta"
							      >
						    </el-date-picker>
						      <div v-if="hasError('fecha_hasta')"
						    	class="alert alert-danger" 
						    	role="alert">Completar el campo</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-primary btn-block" 
								@click.prevent="handleSearch">
								<i class="fas fa-search"></i>
								Buscar
							</button>	
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-success btn-block" 
									@click.prevent="handleNew">
									<i class="fas fa-plus-circle"></i>
									Agregar Reserva
							</button>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-2">
							<button class="btn btn-warning btn-block" 
								@click.prevent="handleCleanFields">
								<i class="fas fa-plus-circle"></i>
								Limpiar Campos
							</button>
						</div>
					</div>
				</form>				
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Fecha</th>
							<th>Horario</th>
							<th>Sala</th>
							<th>Solicitante</th>
							<th>Estado</th>
							<th>Fh. Ingreso</th>
							<th>Fh. Modif.</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items">
							<td>
								<button type="button" 
									@click.remove="removeReserva(item)"
									class="btn btn-danger btn-sm"
									title="Eliminar">
									<i class="fas fa-minus-circle"></i>
								</button>
								<button type="button" 
									@click.remove="modifyReserva(item)"
									class="btn btn-info btn-sm"
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
							<td>
								${item.fecha_evento| format("DD/MM/Y")}
							</td>
							<td>
								${item.hora_inicio} a ${item.hora_final}
							</td>
							<td > 
								${item.sala.descripcion}
							</td>
							<td > 
								${item.empleado.nombres} ${item.empleado.apellidos}
							</td>
							<td > 
								${item.estado.descripcion}
							</td>
							<td>
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</div>
	</div>
	<div id="container-form">
		<div id="vItem">
			{% include 'reservas/forms/form_reservas.html' %}

			{% include 'reservas/forms/salas_disponibles.html' %}
		</div>
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/vue/dist/vue.js' %}"></script>
	<script src="{% static '/js/unpkg.com/vue-router@3.0.1/dist/vue-router.min.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">
		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_SALAS = "{% url 'apiv1:catalogos_obtener_salas' %}";
		const URI_PLANTAS = "{% url 'apiv1:catalogos_obtener_plantas' %}";
		const URI_EMPLEADOS = "{% url 'apiv1:metas_obtener_empleados' %}";
	</script>
	<script src="{% static '/js/reservas_calendario.js' %}"></script>
{% endblock %}