<div class="row">
	<div class="col-12 col-sm-6 col-md-6 col-lg-4">
		<div class="form-group">
			<label for="" class="form-label">
				Cliente / Tel&eacutefono :
			</label>
			<input type="text" 
				name="cliente"
				v-model="cliente"
				class="form-control form-control-sm"
				autocomplete="off" 
				v-on:keyup.enter="handleSearch"
				>
		</div>	
	</div>
	
	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<div class="form-group">
			<label for="" class="form-label">
				Tipificación :
			</label>
			<el-select v-model="tipificacion" 
				placeholder="Seleccione"
				filterable
				size="small"
				clearable>
			    <el-option
			      v-for="item in list.list_tipificaciones"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
	{% if perms.catalogos.filter_status_clientes %}
			<div class="col-12 col-sm-6 col-md-6 col-lg-3">
				<div class="form-group">
					<label for="" class="form-label">
						Estado :
					</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						filterable
						size="small"
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
	{% endif %}
</div>
<div class="form-row filter-default">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-1">
		<div class="btn-group btn-group-sm" role="group">
			<button type="button" class="btn btn-primary"
				title="Buscar"
				v-on:click="handleSearch">
				<i class="fas fa-search"></i>
				Buscar
			</button>
			<button type="button" class="btn btn-warning"
				title="Limpiar"
				v-on:click="handleCleanFields">
				<i class="fas fa-eraser"></i>
				Limpiar
			</button>
			{% if perms.catalogos.add_clientes %}
				<button type="button" class="btn btn-success"
					title="Agregar"
					@click.prevent="handleAddCustomer"
					>
					<i class="fas fa-plus-circle"></i>
					Agregar
				</button>
			{% endif %}
			{% if perms.catalogos.xlsreport_clientes %}
				<button type="button" class="btn btn-info"
					title="Exportar"
					@click.prevent="handleReportXls"
					>
					<i class="fas fa-file-excel"></i>
					Exportar
				</button>
			{% endif %}
			{% if perms.catalogos.add_clientescargas %}
				<button type="button" class="btn btn-warning"
					title="Importar"
					@click.prevent="handleImportFile"
					>
					<i class="fas fa-file-import"></i>
					Importar
				</button>
			{% endif %}
			<button type="button" class="btn btn-success"
				title="Agregar por telefono"
				@click.prevent="handleAddCustomerByPhone"
				>
				<i class="fas fa-plus-circle"></i>
				Por telefono
			</button>
		</div>
	</div>
</div>
<div class="row filter-small">
	<div class="col-12 col-sm-6 col-md-4 col-lg-2">
		<button class="btn btn-primary btn-sm btn-block" 
			@click.prevent="handleSearch"
			title="Buscar">
			<i class="fas fa-search"></i>
			Buscar
		</button>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-2">
		<button class="btn btn-warning btn-sm btn-block" 
			@click.prevent="handleCleanFields"
			title="Limpiar">
			<i class="fas fa-eraser"></i>
			Limpiar
		</button>
	</div>
	{% if perms.catalogos.add_clientes %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-2">
			<button class="btn btn-success btn-sm btn-block" 
				@click.prevent="handleAddCustomer"
				title="Agregar">
				<i class="fas fa-plus-circle"></i>
				Agregar
			</button>
		</div>
	{% endif %}
	
	{% if perms.catalogos.xlsreport_clientes %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-2">
			<button 
				class="btn btn-info btn-sm btn-block" 
				@click.prevent="handleReportXls"
				title="Exportar">
				<i class="fas fa-file-excel"></i>
				Exportar
			</button>
		</div>
	{% endif %}
	{% if perms.catalogos.add_clientescargas %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-2">
			<button 
				class="btn btn-warning btn-sm btn-block" 
				@click.prevent="handleImportFile"
				title="Importar">
				<i class="fas fa-file-import"></i>
				Importar
			</button>
		</div>
	{% endif %}
	<div class="col-12 col-sm-6 col-md-4 col-lg-2">
		<button 
			class="btn btn-success btn-sm btn-block" 
			@click.prevent="handleAddCustomerByPhone"
			title="Agregar por telefono">
			<i class="fas fa-plus-circle"></i>
			por Teléfono
		</button>
	</div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 div-legend">
	<label>Leyenda :</label>
	<i class="fas fa-circle traffic-green" ></i>
	 Con ventas
	<i class="fas fa-circle traffic-silver" ></i>
	 Sin ventas
</div>