
// .layerData
// 	display none
.layerUpload
	border 1px solid #c0c0c0
	background-color color-white
	&.appear
		display block
	&.dissapear
		display none
	form
		.row
			padding 1rem
			.link-example
				padding 0 1rem 0 1rem
				font-size 1.5rem