@import 'nib'

color-white = rgba(255,255,255,1)

.body-container
	padding 0px 10px !important

.layerTitle
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerData
	&.appear
		display block
	&.dissapear
		display none
			
.layerFields, .summary
	border 1px solid silver
	background-color color-white

.layerFields
	padding 5px 20px
	.form-row
		&.filter-default
			display block
	.row
		&.filter-small
			display none
			
	div[class^="col-"]
		button
			margin-top 0.5rem
			i
				font-size 1.2rem
		.form-group
			margin-bottom 0.1rem
			.form-label
				display block
				margin-bottom 1px
			.form-control
				padding 0.4rem
		&.div-legend
			padding-top 0.5rem
			padding-left 0rem
			.traffic-green
				color green
			.traffic-silver
				color silver

.layerTable
	background-color color-white
	overflow auto
	height auto
	// max-height 24rem
	tr 
		th
			text-align center
		td
			&:nth-child(1)
				text-align center
				button
					padding .2142857142857143rem
					i
						font-size 1.3rem
			&:nth-child(n+2):nth-child(-n+10)
				text-align center
					
					
			padding 0rem 0.5rem
			vertical-align middle
			font-size .8571428571428571rem
			.traffic-green
				color green
			.traffic-silver
				color silver
		
	
.summary
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label
	
#vModal
	.el-dialog
		transition  1s all ease-in-out
		width 65%
		.el-dialog__header
			.el-dialog__title
				font-weight bold
		.el-dialog__body
			padding 10px 20px
			form
				.row
					.form-group
						margin-bottom 0.1rem
						.el-select
							width 100%
						input[type="text"]
							padding 0.5rem
				

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	
// styles for the upload form
@import 'catalogos_clientes_upload'
		
@media screen and (max-width: 640px)
	.layerFields
		padding 20px 5px
		.form-row
			&.filter-default
				display none
		.row
			&.filter-small
				display flex
				
		div[class^="col-"]
			.form-group
				div[class^="el-date-editor"]
					width auto
		
	#vModal
		.el-dialog
			width 95% !important
			.el-dialog__body
				padding 10px 5px

@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 80%