@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)

style_reservas()
	transition 1s all ease-in-out
	.layerFields, .summary
		border 1px solid silver
		background-color color-white
	.layerFields
		margin 0
		padding 10px
		form
			width 100%
			.form-row
				button
					margin-bottom 0.5rem
				.form-group
					margin-bottom 0.4rem
					.form-control
						padding 0.6rem
					.form-label
						padding-right 1rem
					div[class^="el-date-editor"]
						width 100%

	.layerTable
		display block
		background-color color-white
		height 21.42857142857143rem
		overflow-y auto
		.table
			td:nth-child(1)
				margin 0
				padding 0 0 0 0
				width 5rem
				button
					margin 0
					padding 0.2142857142857143rem
					i
						font-size 1.3rem
			td
				padding 0.1rem 1rem
				font-size 0.8571428571428571rem

	.summary
		margin-top 0.8rem
		padding 0.7142857142857143rem 1.428571428571429rem
		div
			display block
			width 100%
			height 1.2rem
			span
				font-weight bold
			label

style_reservas_item()
	padding 1rem 3rem
	border 1px solid silver
	background-color color-white
	form
		div[class^="col-"]
			.form-group
				.form-label
					padding-left 0
	.layerHeaderGroup
		font-weight bold
    
style_modal_calendar()
	.el-dialog
		transition 1s all ease-in-out
		width 55%
		.el-dialog__body
			padding 15px 20px
			form
				.form-group
					.form-control
						width auto
				.layerSchedule
					overflow-y auto
					height 17.85714285714286rem
					margin-top 1rem
					margin-bottom 1rem
					text-align center
					div
						transition 0.1s all ease-in-out
						background-color white
						padding 0.7rem
						border 1px solid silver
						&:hover
							background-color rgba(236,236,236,1)
							cursor pointer

.body-container
	padding 0px 10px !important
	
#container-requests,
#container-form
	display none

.layerData
	display display
	width 100%
	
.layerTitle
	margin-top 0.3571428571428571rem
	margin-bottom 0.3571428571428571rem
	padding 0.3571428571428571rem 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerTabs
	margin-top 1rem
	p:nth-child(1)	
		a
			transition 0.5s all ease-in-out
			&:active, &:link, &:visited
				padding 0.9rem
				border 1px solid silver
				text-decoration none
				color color-black
				background-color color-white
			&:hover
				background-color rgba(0,0,0,0.8)
				color color-white
					

.layerData
	style_reservas()
	
#vItem
	style_reservas_item()
	
	style_modal_calendar()

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)

.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem
    
@media screen and (max-width: 640px)
	#vItem
		form
			.layerApplicants
				.row
					.form-group
						button
							margin-top 0.5rem
			div[class^="col-"]
				.form-group
					.el-select
						width 100%
						
		.el-dialog
			width 95% !important	

@media screen and (max-width: 980px)
	#vItem
		padding 1rem 1rem
		.el-dialog
			width 70%
			
// @media screen and (max-width: 1200px)
		