@import 'nib'

color-white = rgba(255,255,255,1)

modal-dissapear()
    position absolute
    top 3rem
    right 0
    width 75%
    &.locked
    	right -100%

modal-before()
	&.locked:before
		right 0
		transition 1s all ease-in-out
	&:before
		z-index 1
		transition 1s all ease-in-out
		content ""
		display block
		position absolute
		opacity 0.9
		background-color rgba(0,0,0,0.5)
		background-image url('../images/img_locked.png')
		background-repeat no-repeat
		background-position center
		background-size 20% auto
		top 0
		right -100%
		width 100%
		height 100%
    
.body-container
	padding 0px 10px !important

.layerData
	width 50%
	
.layerTitle
	margin-top 0.3571428571428571rem
	margin-bottom 0.3571428571428571rem
	padding 0.3571428571428571rem 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold

.layerData
	float left
	transition 1s all ease-in-out
	.layerFields,
	.layerButtons,
	.summary
		border 1px solid silver
		background-color color-white

	.layerButtons
		margin-top 5px
		margin-bottom 5px
		padding 10px 20px
		transition 1s all ease-in-out
		button
			transition 1s all ease-in-out
			margin-right 10px
	.layerFields
		padding 5px 20px
		div[class^="col-"]
			padding-left 0
			padding-right 0
			button
				margin-left 0.5rem
				margin-top 0.2rem
			.form-group
				margin-bottom 0.2rem
				overflow hidden
				vertical-align bottom
				.form-label,.form-control
					float left
				.form-control
					width auto	
				.form-label
					padding-top 0.5rem
				div[class^="el-date-editor"]
					width 7.85714285714rem

	.layerTable
		background-color color-white
		height 24.28571428571429rem
		overflow-y auto
		.table
			td:nth-child(1)
				margin 0
				padding 0 0 0 0.5rem
				width 5rem
				button
					i
						font-size 1.3rem
			td
				padding 0.1rem 1rem
				font-size 0.8571428571428571rem

	.summary
		margin-top 0.8rem
		padding 0.7142857142857143rem 1.428571428571429rem
		div
			display block
			width 100%
			height 1.2rem
			span
				font-weight bold
			label
			
	
#vModal
	transition 1s all ease-in-out
	overflow hidden
	
	modal-before()

	position relative
	margin-left 2rem
	border 1px solid silver
	background-color color-white
	width 45%
	float left
	padding 1rem
	form[name="frm-reservas-feriado"]
		width 100%
		.Fields
			div[class^="col-"]
				padding 0rem
				.form-group
					.form-label
						width 7rem
						font-weight bold
						
					.form-control
						display inline-block
						width auto
						min-width 70%
						text-transform uppercase

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
    
// @media screen and (max-width: 640px)
			
@media screen and (max-width: 980px)
	.layerData
		width 100%
	#vModal
		modal-dissapear()
		
// @media screen and (max-width: 1200px)