<form name="frm-catalogo-clientes-upload">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12">
			<el-upload
				  class="upload-demo"
				  ref="upload"
				  action=""
				  :auto-upload="false">
				  <el-button 
				  	slot="trigger" 
				  	size="small" 
				  	type="primary"
				  	title="Seleccionar Archivo">
				  		<i class="fas fa-hand-pointer"></i>
				  		Seleccionar Archivo
				  </el-button>
				  <el-button 
				  	style="margin-left: 10px;" 
				  	size="small" type="success"
				  	title="Procesar Carga"
				  	@click.prevent="handleUploadFile">
				  		<i class="fas fa-upload"></i>
				  		Procesar Carga
				  </el-button>
				  <el-button 
				  	style="margin-left: 10px;" 
				  	size="small" 
				  	type="warning" 
				  	@click.prevent="handleReturnBack"
				  	title="Regresar menu anterior">
				  		<i class="fas fa-arrow-alt-circle-left"></i>
				  		Regresar menu anterior
				  </el-button>
				  <a 
				  	class="link-example" 
				  	href="{{import_example}}" 
				  	title="Descargar archivo ejemplo" 
				  	target="__blank">
				  	<i class="fas fa-download"></i>
				  </a>
				  <div class="el-upload__tip" 
				  	slot="tip">
				  		<b>- csv / txt</b> archivos con un tamaño menor a  500kb y deber&aacute ser delimitado por punto y coma <b>';'</b>
				  </div>
				  {%comment%}
					  <div class="el-upload__tip" 
					  	slot="tip">
					  		<b>- columnas / campos mandatorios : </b> razon_social, direccion, ndoc, tdoc_id, ciudad, pais_id
					  </div>
				  {%endcomment%}

				  <div class="el-upload__tip" slot="tip">
				  		<b>- columnas / campos mandatorios : </b> razon_social, telefono
				  </div>
			</el-upload>
		</div>
	</div>
</form>
<div class="col-12 col-md-12 col-lg-12" 
	v-if="lst_items.length>0">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Fch.Carga</th>
				<th>Archivo</th>
				<th>Peso</th>
				<th>Formato</th>
				<th>Usuario</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					<button type="button" 
						@click.prevent="handleRemoveFile(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
					<button type="button" 
						@click.prevent="handleDownloadFile(item.file_url)"
						class="btn btn-info btn-sm"
						title="Descargar">
						<i class="fas fa-download"></i>
					</button>
				</td>
				<td v-text="item.hashid"></td>
				<td > 
					${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
				</td>
				<td>${item.file_name}</td>
				<td>${item.file_size}</td>
				<td>${item.file_type}</td>
				<td>${item.username}</td>
			</tr>
		</tbody>
	</table>
</div>