
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/js/unpkg.com/element-ui@2.4.2/lib/theme-chalk/index.css' %}">
	 <link rel="stylesheet" href="{% static '/css/meta_jefe.css' %}">
{% endblock %}

{% block container %}
	<div class="row layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<div class="row layerFields">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Marca</label>
					<el-select v-model="marca" 
						placeholder="Seleccione"
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_marcas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="">Año</label>
					<el-date-picker
					      v-model="anio"
					      type="year"
					      placeholder="Seleccione año"
					      >
				    </el-date-picker>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="">Mes</label>
					<el-date-picker
					      v-model="mes"
					      type="month"
					      placeholder="Seleccione mes"
					      >
				    </el-date-picker>
				</div>
			</div>
		</div>
		<div class="row layerButtons">
			<button class="btn btn-primary"
				@click.prevent="getSearch">
				<i class="fas fa-search"></i>
				Buscar
			</button>
			<button class="btn btn-success"
				@click.prevent="showDialog">
				<i class="fas fa-plus-circle"></i>
				Agregar Meta
			</button>
		</div>
		<div class="row layerTable">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Marca</th>
						<th>Meta</th>
						<th>Año</th>
						<th>Mes</th>
						<th>Fh. Ingreso</th>
						<th>Fh. Modif.</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in lst_items">
						<td v-text="item.id"></td>
						<td v-text="item.marca.nombre"></td>
						<td v-text="item.meta"></td>
						<td v-text="item.anio"></td>
						<td v-text="item.mes"></td>
						<td>
							${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
						</td>
						<td>
							${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
						</td>
						<td>
							<button type="button" 
								@click.remove="removeMeta(item)"
								class="btn btn-danger btn-sm"
								title="Eliminar">
								<i class="fas fa-minus-circle"></i>
							</button>
							<button type="button" 
								@click.remove="modifyMeta(item)"
								class="btn btn-info btn-sm"
								title="Modificar">
								<i class="fas fa-pen-square"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="vModal">
		{% include 'metas/forms/form_marca.html' %}
	</div>

{% endblock %}

{% block additionaljs %}
	<script src="{% static '/js/vue/dist/vue.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/index.js' %}"></script>
	<script src="{% static '/js/unpkg.com/element-ui@2.4.2/lib/umd/locale/es.js' %}"></script>
	<script type="text/javascript">

		ELEMENT.locale(ELEMENT.lang.es)
		axios.defaults.headers.common = {
		    'X-Requested-With': 'XMLHttpRequest',
		    'X-CSRFToken' : document.getElementsByName("csrfmiddlewaretoken")[0].value,
		};
		const axiosPostHeaders = {
			'Content-Type': 'application/x-www-form-urlencoded',
		} ;
		const URI_HOME = window.location.pathname;
		const URI_MARCAS = "{% url 'apiv1:metas_obtener_marcas' %}";
	</script>
	<script src="{% static '/js/meta_marca.js' %}"></script>
{% endblock %}