@import 'nib'

color-white = rgba(255,255,255,1)

layer_title()
	margin-top 5px
	margin-bottom 5px
	padding 5px 20px
	border 1px solid silver
	background-color color-white
	h3
		font-size 1.5rem
		font-weight bold
		
layer_fields()
	border 1px solid silver
	background-color color-white
	padding 20px
	margin-bottom 0.3rem
	.row
		div[class^="col-"]
			.form-group
				margin-bottom 0.3rem
				label, .el-select
					display block
				div[class^="el-date-editor"]
					width 8.214285714285714rem
				input[type="text"]
					font-size 1rem
			button
				margin-top 0.3rem
				
layer_table()
	background-color color-white
	overflow-y auto
	height 21.42857142857143rem
	tr
		td
			padding 0
			vertical-align middle
			&:nth-child(1)
				width 100px
				text-align center
			&:nth-child(2)
				width 50px
				text-align center
			button
				padding 2px 10px
				i
					font-size 1.5rem

layer_summary()
	border 1px solid silver
	background-color color-white
	margin-top 0.8rem
	padding 0.7142857142857143rem 1.428571428571429rem
	div
		display block
		width 100%
		height 1.2rem
		span
			font-weight bold
		label

.layerTitle
	layer_title()
		
.layerFields
	layer_fields()

.layerTable
	layer_table()
	
.summary
	layer_summary()

.el-select-dropdown__item
	&.hover
		background-color rgba(0,111,196,.3)
