

@import 'grants_main.styl'

wbg-body = #edeef2

// .body-container
// 	position relative
	
style_headers()
	h2
		margin-left 1rem
		display block
		width 100%
		font-size 1rem
		font-weight bold
		border 1px solid rgba(0,0,153,0.5)
		border-radius 3px
		text-shadow 1px 1px 1px rgba(0,0,0,0.7)
		padding 0.3rem
		background-color rgba(6,102,206,0.3)
		color white
	div[class^='col-']
		h2
			padding 0.3rem
			margin-left 0
	
layer_modal()
	.layerModalFields
		display none
		background-color wbg-body
		margin-top 5px
		&.visible
			display block
		form
			padding 20px
			border 1px solid silver
			background-color color-white
			.row
				style_headers()
				
				div[class^='col-']
					.form-group
						margin-bottom 0.2rem
						.form-label
							display block
							width 100%
							margin-bottom 0rem
						.el-select
							width 100%
						.el-transfer
							.el-transfer-panel
								width 260px
							.el-transfer__buttons
								padding 0 0.5rem
								
						&.panel-customer
							.el-transfer
								.el-transfer-panel
									width 350px
		
	// .el-dialog
	// 	width 50%
	// 	.el-dialog__header
	// 		.el-dialog__title
	// 			font-weight bold
	// 	.el-dialog__body
	// 		padding 10px 20px
	// 		form
	// 			.row
	// 				padding 0 10px
	// 				width 100%
	// 				div[class^="col-"]
	// 					margin-bottom 0.5rem
	// 					.form-group
	// 						margin-bottom 0.2rem
	// 						.el-select
	// 							width 100%
	// 						label
	// 							margin-bottom 0.2rem
	// 							display block
		
.layerTable
	height auto
.layerData
	display block
	&.visible
		display none
		
#vModal
	layer_modal()

.pager
	overflow-y auto
					
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.1rem
	margin-bottom 0.1rem
	&.alert-success
		margin-bottom 0.5rem
		display inline-block
		i
			font-size 1.5rem
			margin 0 0.5rem

@media screen and (max-width: 640px)
	#vModal
		.el-dialog
			margin-top 0.5rem !important
			width 95% !important

@media screen and (max-width: 980px)
	#vModal
		.el-dialog
			width 75%
			.el-dialog__body
				padding 10px 5px