
{% extends 'main/index.html' %}
{% load static %}
{% block title %}
	{{header}}
{% endblock %}

{% block additionalcss %}
	 <link rel="stylesheet" href="{% static '/css/products_article.css' %}">
{% endblock %}

{% block container %}
	<div class="layerTitle">
		<h3>Modulo {{title}} </h3>
	</div>
	<div class="layerData" id="vContainer">
		<template>
			<div class="layerFields">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="form-label">
								Articulo :
							</label>
							<input type="text" 
								name="articulo"
								v-model="articulo"
								class="form-control"
								autocomplete="off" 
								>
						</div>	
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="form-label">
								Categoria :
							</label>
							<el-select v-model="categoria" 
								placeholder="Seleccione"
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_categorias"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="form-label">
								Estado :
							</label>
							<el-select v-model="estado" 
								placeholder="Seleccione"
								filterable
								clearable>
							    <el-option
							      v-for="item in list.list_estados"
							      :key="item.id"
							      :label="item.value"
							      :value="item.id">
							    </el-option>
							</el-select>
						</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-primary btn-block" 
							@click.prevent="handleSearch">
							<i class="fas fa-search"></i>
							Buscar
						</button>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-success btn-block" 
							@click.prevent="handleAddCategory">
							<i class="fas fa-plus-circle"></i>
							Agregar Articulo
						</button>
					</div>
				</div>
			</div>
			<div class="layerTable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Descripci&oacuten</th>
							<th>Categoria</th>
							<th>Estado</th>
							<th>Fh. Ingreso</th>
							<th>Fh. Modif.</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in lst_items">
							<td v-text="item.id"></td>
							<td > 
								${item.descripcion}
							</td>
							<td>${item.categoria.descripcion}</td>
							<td>${item.estado.descripcion}</td>
							<td>
								${item.fhregistro| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								${item.fhmodificacion| format("DD/MM/Y HH:MM:ss")}
							</td>
							<td>
								<button type="button" 
									@click.prevent="handleRemoveArticle(item)"
									class="btn btn-danger btn-sm"
									title="Eliminar">
									<i class="fas fa-minus-circle"></i>
								</button>
								<button type="button" 
									@click.prevent="handleModifyArticle(item)"
									class="btn btn-info btn-sm"
									title="Modificar">
									<i class="fas fa-pen-square"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary">
				<div>
					<span>Total Registros :</span>
					<label>${totales.filas}</label>
				</div>
			</div>
		</template>
	</div>
	<div id="vModal">
		<template>
			{% include 'productos/forms/form_article.html' %}
		</template>
	</div>

{% endblock %}

{% block additionaljs %}
	
	<script type="text/javascript">
		
		const URI_HOME = window.location.pathname ;
		const URI_ESTADO = "{% url 'apiv1:metas_obtener_estados' %}";
		const URI_CATEGORIAS = "{% url 'apiv1:metas_obtener_categorias' %}";		
	</script>
	<script src="{% static '/js/products_article.js' %}"></script>
{% endblock %}