<table class="table table-hover">
	<thead>
		<tr>
			{% if perms.catalogos.delete_vendedores or perms.catalogos.change_vendedores %}
				<th></th>
			{%endif%}
			<th>ID</th>
			<th>Fh.Registro</th>
			<th>Nombres</th>
			<th>Estado</th>
			<th>Usuario</th>
			<th>Fh.Modif</th>
			<th>Usuario Modif.</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="item in lst_items">
			{% if perms.catalogos.delete_vendedores or perms.catalogos.change_vendedores %}
			<td>
				{% if perms.catalogos.delete_vendedores %}
					<button type="button" 
						@click.remove="handleRemove(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				{%endif%}
				{% if perms.catalogos.change_vendedores %}
					<button type="button" 
						@click.remove="handleModify(item)"
						class="btn btn-info btn-sm"
						title="Modificar">
						<i class="fas fa-pen-square"></i>
					</button>
				{%endif%}
			</td>
			{%endif%}
			<td v-text="item.id"></td>
			<td > 
				${item.fhregistro?item.fhregistro:null |format("DD/MM/Y HH:MM:ss")} 
			</td>
			<td > ${item.nombres}</td>
			<td > 
				${item.estado?item.estado.descripcion:'NO ACTIVO'}
			</td>
			<td > 
				${item.username||'-'}
			</td>
			<td > 
				${item.fhmodificacion?item.fhmodificacion:null |format("DD/	MM/Y HH:MM:ss")}  
			</td>
			<td > 
				${item.username_modif||'-'}
			</td>
		</tr>
	</tbody>
</table>