<el-dialog
	title="Registro de Articulos"
	:visible.sync="dialog_status"
	
	:before-close="handleCloseDialog">
	<div class="row Fields">
	  	<form name="frm-productos-article">
	  		<div class="col-12 col-md-12 col-lg-12">
	  			<div class="form-group">
					<label for="" class="form-label">
						Articulo :
					</label>
					<input type="text" 
						name="articulo"
						v-model="articulo"
						class="form-control"
						autocomplete="off" 
						>
				</div>	
	  		</div>
	  		<div class="col-12 col-md-12 col-lg-12">
				<div class="form-group">
					<label for="" class="form-label">
						Categoria :
					</label>
					<el-select v-model="categoria" 
						placeholder="Seleccione"
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_categorias"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
	  		<div class="col-12 col-md-12 col-lg-12">
				<div class="form-group">
					<label for="" class="form-label">
						Estado :
					</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
	  	</form>
	</div>
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="handleCloseDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="handleSaveArticle">
		Guardar
	</el-button>
	</span>
</el-dialog>