
<div class="layerHeaderGroup">
	<label>Detalles </label>
</div>
<div class="row pb-2">
	<div class="col-12 col-sm-12 col-md-4 col-lg-3">
		<div class="form-group">
			<label class="form-label col-12 col-sm-3 col-md-3 col-lg-3" for="">Categoria</label>
			<el-select 
				v-model="child.article.categoria.id" 
				placeholder="Seleccione Categoria"
				filterable
				clearable
				name="categoria"
				size="small"
				>
			    <el-option
			      v-for="item in list.list_categorias"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
	<div class="col-12 col-sm-12 col-md-4 col-lg-3">
		<div class="form-group">
			<label class="form-label col-12 col-sm-3 col-md-3 col-lg-3" for="">Articulo</label>
			<el-select 
				v-model="child.article.id" 
				placeholder="Seleccione Articulo"
				filterable
				clearable
				name="producto"
				size="small"
				>
			    <el-option
			      v-for="item in list.list_articulos"
			      :key="item.id"
			      :label="item.value"
			      :value="item.id">
			    </el-option>
			</el-select>
		</div>	
	</div>
	<div class="col-12 col-sm-12 col-md-4 col-lg-3">
		<div class="form-group">
			<label class="form-label col-12 col-sm-3 col-md-3 col-lg-3" for="">Cantidad</label>
			<el-input-number 
				v-model="child.cantidad" 
				@change="handleChangeCantidad" 
				:min="1" :max="100"
				size="small"
				>
				
			</el-input-number>
		</div>	
	</div>
	<div class="col-12 col-sm-12 col-md-4 col-lg-3">
		<div class="form-group">
			<label class="form-label col-12 col-sm-3 col-md-3 col-lg-3" for="">Monto</label>
			<input 
				type="text" 
				class="form-control form-control-sm p-2"
				v-model = "child.subtotal"
				name="subtotal"
				placeholder="Ingrese Monto" 
				autocomplete="off">
		</div>	
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<button type="button" 
			@click.prevent="handleAddArticle"
			class="btn btn-success btn-block"
			title="Agregar articulo"
			v-if="!child.item">
			<i class="fas fa-plus-circle"></i>
			Agregar Articulo
		</button>
		<button type="button" 
			@click.prevent="handleUpdateArticle"
			class="btn btn-success btn-block"
			title="Actualizar articulo"
			v-if="child.item">
			<i class="fas fa-sync-alt"></i>
			Actualizar Articulo
		</button>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3"
		v-if="child.item">
		<button type="button" 
			@click.prevent="handleCancelArticleChanges"
			class="btn btn-warning btn-block"
			title="Cancelar cambios">
			<i class="fas fa-ban"></i>
			Cancelar cambios
		</button>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3"
		v-if="item_invoice.id!=null" >
		<button type="button" 
			@click.prevent="handleExportInvoice"
			class="btn btn-info btn-block"
			title="Exportar Excel">
			<i class="fas fa-file-excel"></i>
			Exportar
		</button>
	</div>
</div>
<div class="layerRows">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Nro</th>
				<th>Articulo</th>
				<th>Categoria</th>
				<th>Cantidad</th>
				<th>Precio Unit.</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					<button type="button" 
						@click.prevent="handleRemoveArticle(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
					<button type="button" 
						@click.remove="handleModifyArticle(item)"
						class="btn btn-info btn-sm"
						title="Modificar">
						<i class="fas fa-pen-square"></i>
					</button>
				</td>
				<td>
					${item.item}
				</td>
				<td>
					${item.article.descripcion}
				</td>
				<td>
					${item.article.categoria.descripcion}
				</td>
				<td>
					${item.cantidad}
				</td>
				<td>
					${item.subtotal}
				</td>
				<td>
					${item.total}
				</td>
			</tr>
		</tbody>
	</table>
</div>