<div class="layerHeaderGroup">
	<label>Detalles </label>
</div>
<div class="layerRows">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Articulo</th>
				<th>Categoria</th>
				<th>Cantidad</th>
				<th>Precio Unit.</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					${item.item}
				</td>
				<td>
					${item.article.descripcion}
				</td>
				<td>
					${item.article.categoria.descripcion}
				</td>
				<td>
					${item.cantidad}
				</td>
				<td>
					${item.subtotal}
				</td>
				<td>
					${item.total}
				</td>
			</tr>
		</tbody>
	</table>
</div>