<form name="frm-reservas-solicitudes">
	<div class="row Fields">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 el-invoice"
			v-if="item_invoice.id">
			<label>Order Nro. ${item_invoice.order}</label>
		</div>

		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Cliente </label>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="form-group el-cliente">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Cliente</label>
				<el-select v-model="cliente" 
					placeholder="Seleccione"
					filterable
					clearable
					remote
					reserve-keyword
					:remote-method="searchCliente"
					:loading ="remote_cliente.loading"
					@blur="handleBlur"
					name="cliente"
					ref="cliente"
					size="small"
					>
				    <el-option

				      v-for="item in remote_cliente.list"
				      :key="item.id"
				      :label="item.label"
				      :value="item.id">
				    </el-option>
				</el-select>
				<button type="button" 
					@click="handleAvailability(fecha)"
					class="btn btn-warning "
					title="ver Disponibilidad"
					style="display:none">
					<i class="far fa-calendar-check"></i>
				</button>
				<div v-if="hasError('cliente')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-2">
			<div class="form-group">
				<label class="form-label" for="">
					Teléfono
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "telefono"
					name="ndoc"
					placeholder="Nro. telefono" 
					@blur="handleBlur"
					autocomplete="off" 
					>
				<div v-if="hasError('telefono')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-2">
			<div class="form-group">
				<label class="form-label" for="">
					Teléfono 2
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "telefono2"
					name="telefono2"
					placeholder="Nro. telefono 2" 
					
					autocomplete="off" 
					>
				{%comment%}
				<div v-if="hasError('telefono2')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			    {%endcomment%}
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Ciudad</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"  
					v-model = "ciudad"
					name="ciudad"
					placeholder="Ingrese Ciudad" 
					autocomplete="off" 
					>
				<div v-if="hasError('ciudad')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Direcci&oacuten</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "direccion"
					name="direccion"
					placeholder="Ingrese direccion" 
					@blur="handleBlur"
					rows="1"
					cols="26"
				>
				</textarea>
				<div v-if="hasError('direccion')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label pr-2" for="">
					Dirección Entrega
				</label>
				<textarea 
					class="form-control form-control-sm p-2"  
					v-model = "delivery_address"
					name="delivery_address"
					placeholder="Ingrese lugar entrega" 
					
					rows="1"
					cols="26"
				>
				</textarea>
				<!-- <div v-if="hasError('direccion_entrega')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div> -->
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Observaciones</label>
				<textarea 
					class="form-control form-control-sm p-2"
					v-model = "observaciones"
					name="observaciones"
					placeholder="Ingrese Observaciones" 
					rows="1"
					cols="26"
				>
				</textarea>
				<div v-if="hasError('observaciones')"
			    	class="alert alert-danger" 
			    	role="alert">Completare l campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Adicionales </label>
			</div>
		</div>

		{% comment %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label col-12 col-sm-8 col-md-6 col-lg-6" for="">Nro. Documento </label>
					<input 
						type="text" 
						class="form-control p-2"  
						v-model = "order"
						name="order"
						placeholder="Ingrese Nro. Doc. "
						maxlength="10" 
						@blur="handleBlur"
						readonly="true" 
						autocomplete="off" 
						>
						<div v-if="hasError('order')"
					    	class="alert alert-danger" 
					    	role="alert">Completar el campo</div>
				</div>	
			</div>
		{% endcomment %}
		
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-6 col-lg-6" for="">Tipo Orden</label>
				<el-select 
					v-model="tipo_invoice" 
					placeholder="Seleccione T.Cot."
					filterable
					clearable
					name="tipo_invoice"
					@blur="handleBlur"
					size="small"
					>
				    <el-option
				      v-for="item in list.list_tinvoice"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('tipo_invoice')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-6 col-lg-6" for="">Forma Pago</label>
				<el-select 
					v-model="forma_pago" 
					placeholder="Seleccione T.Doc."
					filterable
					clearable
					name="forma_pago"
					@blur="handleBlur"
					size="small"
					>
				    <el-option
				      v-for="item in list.list_fpago"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('forma_pago')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Nro. Tarjeta
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2" 
					v-model = "nro_tarjeta"
					name="nro_tarjeta"
					placeholder="Ingrese tarjeta" 
					autocomplete="off" 
					:disabled="tarjeta_status"
					>
				<div v-if="hasError('nro_tarjeta')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					TC. Vigencia
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"
					v-model = "tarjeta_vigencia"
					name="tarjeta_vigencia"
					placeholder="TC. Vigencia" 
					autocomplete="off"
					:disabled="tarjeta_status"
					maxlength="7" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					CVV
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"
					v-model = "tarjeta_cvv"
					name="tarjeta_cvv"
					placeholder="Nro. CVV" 
					autocomplete="off" 
					:disabled="tarjeta_status"
					maxlength="4" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Venta
				</label>
				<el-date-picker
				      v-model="fecha_venta"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
					  name="fecha_venta"
					  size="small"
				      >
			    </el-date-picker>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					ETD Courier
				</label>
				<el-date-picker
				      v-model="fecha_etd_courier"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
					  name="fecha_etd_courier"
					  size="small"
				      >
			    </el-date-picker>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Recepción
				</label>
				<el-date-picker
				      v-model="fecha_recepcion"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
					  name="fecha_recepcion"
					  size="small"
				      >
			    </el-date-picker>
			</div>	
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha">
				<label class="form-label" for="">
					Fecha Entrega
				</label>
				<el-date-picker
				      v-model="fecha_entrega"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
					  name="fecha_venta"
					  size="small"
				      >
			    </el-date-picker>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group el-fecha-hora">
				<label class="form-label" for="">
					Rango Hora Entrega
				</label>
				<el-time-select
				  v-model="hora_entrega"
				  :picker-options="range_time"
				  placeholder="Seleccione Horario"
				  name="hora_entrega"
				  :disabled="false"
				  size="small"
				  >
				</el-time-select>
				<el-time-select
				  v-model="hora_entrega_hasta"
				  :picker-options="range_time"
				  placeholder="Seleccione Horario"
				  name="hora_entrega_hasta"
				  :disabled="false"
				  size="small"
				  >
				</el-time-select>
			</div>	
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					En que Labora
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"
					v-model = "labora"
					name="labora"
					placeholder="Ingrese información" 
					autocomplete="off" 
					>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label" for="">
					Contesta Celular
				</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"
					v-model = "contesta_celular"
					name="contesta_celular"
					placeholder="Ingrese información" 
					autocomplete="off" 
					>
			</div>	
		</div>

		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Notas</label>
				<textarea 
					class="form-control form-control-sm p-2"
					v-model = "observaciones2"
					name="observaciones2"
					placeholder="Ingrese Notas" 
					rows="1"
					cols="26"
				>
				</textarea>	
			</div>	
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-3">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-6 col-lg-6" for="">Vendedor</label>
				<el-select 
					v-model="vendedor" 
					placeholder="Seleccione Vendedor"
					filterable
					clearable
					name="vendedor"
					size="small"
					>
				    <el-option
				      v-for="item in list.list_vendedores"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<!-- <div v-if="hasError('tipo_invoice')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div> -->
			</div>	
		</div>
		
		{% comment %}
			<div class="col-12 col-sm-12 col-md-4 col-lg-3">
				<div class="form-group">
					<label class="form-label col-12 col-sm-8 col-md-6 col-lg-6" for="">Estado Venta</label>
					<el-select 
						v-model="estado" 
						placeholder="Seleccione Estado"
						filterable
						clearable
						name="estado"
						>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
					<div v-if="hasError('estado')"
				    	class="alert alert-danger" 
				    	role="alert">Completar el campo</div>
				</div>	
			</div>
		{% endcomment %}
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 layerDetails">
			{% include 'invoices/forms/form_invoice_details.html' %}
		</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-3 col-md-3 col-lg-3" for="">Total</label>
				<input 
					type="text" 
					class="form-control form-control-sm p-2"
					v-model = "summary.total"
					name="total"
					placeholder=""
					disabled
					autocomplete="off" >
			</div>	
		</div>
		{% include 'invoices/forms/buttons/form_invoice_buttons.html' %}
	</div>
</form>