
{% extends 'interface/base_main.html' %}
{% load static %}

{% block additionalcss %}
{% endblock %}	

{% block main %}
	<main>
		<header class="top-side">
			{% include 'main/main_header.html' %}
		</header>
		<section class="middle-side">
			{% block middleside %}
				<article class="middle-leftside expand">
					{% include 'main/main_nav.html' %}
				</article>
				<article class="middle-rightside">
					<div class="body-container">
						{% block container %}
						{% endblock %}
					</div>
				</article>
				<article 
					class="middle-rightside-loader">
						<div class="loader"></div>
				</article>
			{% endblock %}
		</section>
		<section class="session-side">
			{% include 'main/main_session.html' %}
		</section>
	</main>	
{% endblock %}

{% block additionaljs %}
	
{% endblock %}