<nav>
	<ul class="layer-menu">
	{% if menu %}
		{% for item in menu %}
			<li>
				<a href="#" title="{{item.descripcion}}">
					<i class="{{item.icon_class}}"></i>
					<label>{{item.descripcion}}</label>
					<i id="sort-down" class="fas fa-sort-down"></i>
					<i id="sort-up" class="fas fa-sort-up"></i>
				</a>
				{% if item.detalles %}
				<ul class="layer-menu-child">
					{% for child in item.detalles %}
					<li>
						<a  href="{% url child.view_name %}" 
							title="{{child.descripcion}}" >
							<i class="fas fa-caret-right"></i>
							<label>{{child.descripcion}}</label>
						</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endfor %}
	{% else %}
		<li>
			<a href="#">
				<i class="fas fa-globe"></i>
				<label>Home</label>
				<i id="sort-down" class="fas fa-sort-down"></i>
				<i id="sort-up" class="fas fa-sort-up"></i>
			</a>
		</li>
	{% endif %}
	</ul>
</nav>
<a href="#" 
	class="collapse-menu"
	title="Ocultar navegador">
	<i id="angle-left" class="fas fa-angle-double-left"></i>
	<i id="angle-right" class="fas fa-angle-double-right"></i>
	<label>
		Ocultar navegador
	</label>
</a>