<!-- <section class="layer-bg"></section> -->
<section class="layer-sandwich">
	<span>
		<i class="fas fa-align-justify"></i>
	</span>
</section>
<section class="layer-logo">
	<label>WRC Natural Products</label>
</section>


{% if request.user.is_authenticated %}
	<section class="layer-user">
		<span class="user-img">
			<i class="fas fa-user"></i>
		</span>
		<span class="user-info">
			<label>
				<b>Usuario</b> : {{user.get_full_name}}
			</label>
			<label>
				<b>Ult. acceso</b> : {{user.last_login | date:"d/m/Y h:m:s"}}
			</label>
			<label class="info-session">
				<b>Tiempo Sesión</b> : 
			</label>
			<input type="hidden" 
				name="h_deadline"
				id="h_deadline"
				value="{{expiration.date| date:"m/d/Y H:i:s"}}" >
			<input type="hidden" 
				name="h_minimun"
				id="h_minimun"
				value="{{minimun}}" >
		</span>
		{% comment %}

		{% endcomment %}
	</section>
	<section class="layer-user-details">
		<nav>
			<ul>
				<li>
					<a href="{% url 'login:additional_information' %}">
						<i class="fas fa-book-open"></i>
						Informaci&oacuten adicional
					</a>
				</li>
				<li>
					<a href="{% url 'login:change_password' %}">
						<i class="fas fa-lock"></i>
						Cambio de Clave
					</a>
				</li>
				<li>
					<a href="{% url 'login:logout' %}">
						<i class="fas fa-sign-out-alt"></i>
						Cerrar Sesi&oacuten
					</a>
				</li>
			</ul>
		</nav>
	</section>
{% else %}
	<section class="layer-user">
		<label class="user-guess">
			<b>
				<a href="{% url 'login:main' %}">Login</a>
			</b>
		</label>
	</section>
{% endif %}