{% extends 'interface/base.html' %}
{% load static %}

{% block main %}
<section class="layer-login" id="container-user">
	<div class="login-logo">
		
	</div>
	<div class="login-inputs">
		<form>
			<div class="row">
				<div class="col-md-12">
				   <div class="form-group">
					   	<label for="username">Usuario</label>
					    <input 
					    	@keyup="handleKeyup"
					    	v-model="form.username"
					    	type="text" class="form-control" 
					    	name="username" 
					    	placeholder="Enter Username" 
					    	autocomplete="off"
					    	required="true">
					    <div v-if="hasError('username')"
					    	class="alert alert-danger" 
					    	role="alert">Completar nombre de usuario</div>
				   </div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="passwd">Clave de Acceso</label>
						<input 
							@keyup="handleKeyup"
							v-model="form.passwd"
							type="password" 
							class="form-control" 
							name="passwd" 
							placeholder="Enter Password"
							autocomplete="off"
							required="true">
						<div v-if="hasError('passwd')"
					    	class="alert alert-danger" 
					    	role="alert">Completar clave de acceso</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button 
					@click.prevent="handleClick"
					class="btn btn-primary btn-log btn-block">
					Ingresar
				</button>
				<div class="login-loader" v-if="loading">
					<img src="{% static 'images/img_loader.gif' %}">
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}