<form name="frm-reservas-solicitudes">
	<div class="row Fields">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="layerHeaderGroup">
				<label> Datos Generales </label>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Solicitante</label>
				<el-select v-model="solicitante" 
					placeholder="Seleccione"
					filterable
					clearable
					remote
					reserve-keyword
					:remote-method="searchEmpleado"
					:loading ="remote_empleado.loading"
					@blur="handleBlur"
					name="solicitante"
					>
				    <el-option

				      v-for="item in remote_empleado.list"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('solicitante')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Sala</label>
				<el-select v-model="sala" 
					placeholder="Seleccione"
					filterable
					clearable
					@blur="handleBlur"
					name="sala"
					ref="sala"
					>
				    <el-option
				      v-for="item in list.list_salas"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('sala')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Piso / Planta</label>
				<el-select v-model="planta" 
					placeholder="Seleccione"
					disabled
					filterable
					clearable>
				    <el-option
				      v-for="item in list.list_plantas"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('planta')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Fecha</label>
				<el-date-picker
				      v-model="fecha"
				      type="date"
				      placeholder="Seleccione Fecha"
				      format="dd/MM/yyyy"
				      value-format="yyyy-MM-dd"
				      @blur="handleBlur"
					  name="fecha"
				      >
			    </el-date-picker>
			    <button type="button" 
					@click="handleAvailability(fecha)"
					class="btn btn-warning "
					title="ver Disponibilidad">
					<i class="far fa-calendar-check"></i>
				</button>
			    <div v-if="hasError('fecha')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Horario desde</label>
				<el-time-select
				  v-model="time_from"
				  :picker-options="range_time"
				  placeholder="Seleccione Horario"
				  @blur="handleBlur"
				  name="time_from"
				  >
				</el-time-select>
				<div v-if="hasError('time_from')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Horario hasta</label>
				<el-time-select
				  v-model="time_to"
				  :picker-options="range_time"
				  placeholder="Seleccione Horario"
				  @blur="handleBlur"
				  name="time_to"
				  >
				</el-time-select>
				<div v-if="hasError('time_to')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-4">
			<div class="form-group">
				<label class="form-label col-12 col-sm-8 col-md-4 col-lg-3" for="">Estado</label>
				<el-select v-model="estado" 
					placeholder="Seleccione"
					filterable
					clearable
					@blur="handleBlur"
				  	name="estado"
					>
				    <el-option
				      v-for="item in list.list_estados"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
				<div v-if="hasError('estado')"
			    	class="alert alert-danger" 
			    	role="alert">Completar el campo</div>
			</div>	
		</div>
		<div 
			class="col-12 col-sm-12 col-md-12 col-lg-12 layerApplicants">
			{% include 'reservas/forms/form_reservas_participantes.html' %}
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-md-12 col-lg-12">
			<button class="btn btn-primary" 
				@click.prevent="handleConfirmDialog" title="Guardar Datos">
				<i class="fas fa-save"></i>
				Guardar
			</button>
			<button class="btn btn-danger" 
				@click.prevent="handleCancelOperation" title="Cancelar Operación">
				<i class="fas fa-ban"></i>
				Cancelar
			</button>
		</div>
	</div>
</form>