
<div class="layerHeaderGroup">
	<label> Participantes </label>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="form-label col-12 col-sm-3 col-md-2 col-lg-1" for="">Participante</label>
			<el-autocomplete  
				v-model="participante.value" 
				:fetch-suggestions="searchParticipante" 
				placeholder="Ingrese Participante" 
				:trigger-on-focus="false" 
				@select="selectParticipante">
			</el-autocomplete>

			{% comment %}
				<el-select v-model="participante" 
					placeholder="Ingrese Participante"
					filterable
					clearable
					remote
					reserve-keyword
					:remote-method="searchParticipante"
					:loading ="remote_participante.loading"
					>
				    <el-option
				      v-for="item in remote_participante.list"
				      :key="item.id"
				      :label="item.value"
				      :value="item.id">
				    </el-option>
				</el-select>
			{% endcomment %}

			<button type="button" 
				@click.prevent="handleAddParticipante"
				class="btn btn-success"
				title="Agregar Participante">
				<i class="fas fa-plus-circle"></i>
				Agregar Participante
			</button>
		</div>	
	</div>
</div>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Participante</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in lst_items">
				<td>
					<button type="button" 
						@click.prevent="handleRemoveParticipante(item)"
						class="btn btn-danger btn-sm"
						title="Eliminar">
						<i class="fas fa-minus-circle"></i>
					</button>
				</td>
				<td>
					${item.empleado.fullname}
				</td>
			</tr>
		</tbody>
	</table>
</div>