<el-dialog
	title="Registro de Salas"
	:visible.sync="dialog_status"
	
	:before-close="closeDialog">
	<div class="row Fields">
	  	<form name="frm-meta-sala">
	  		<div class="col-md-12">
				<div class="form-group">
					<label for="">Descripción Sala</label>
					<input type="text" 
						class="form-control form-control-lg"
						v-model="descripcion">
				</div>	
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Planta</label>
					<el-select v-model="planta" 
						placeholder="Seleccione"
						
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_plantas"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>	
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Estado</label>
					<el-select v-model="estado" 
						placeholder="Seleccione"
						
						filterable
						clearable>
					    <el-option
					      v-for="item in list.list_estados"
					      :key="item.id"
					      :label="item.value"
					      :value="item.id">
					    </el-option>
					</el-select>
				</div>
			</div>
			<div class="row" style="padding:0 2rem">
				<div class="col-md-6" style="padding:0px">
					<div class="form-group">
						<label for="">Nro. Participantes</label>
						<el-input-number 
							 v-model="capacidad"
							:min="1" :max="999999">
						</el-input-number>
					</div>	
				</div>
				<div class="col-md-6" style="padding:0px">
					<div class="form-group">
						<label for="">Fecha Vigencia</label>
						<el-date-picker
						      v-model="fecha_vigencia"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
						      >
					    </el-date-picker>
					</div>	
				</div>
			</div>
	  	</form>
	</div>
	<span slot="footer" class="dialog-footer">
	<el-button @click.prevent="cancelDialog">
		Cancelar
	</el-button>
	<el-button type="primary" @click.prevent="confirmDialog">
		Guardar
	</el-button>
	</span>
</el-dialog>