
<el-dialog
	title="Calendario de Disponibilidad"
	:visible.sync="modal.status"
	:before-close="handleModalClose">
		<form>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group row">
		  				<label 
		  					class="form-label px-3 mt-2">
		  					Fecha
		  				</label>
		  				<el-date-picker
						      v-model="modal.data.fecha_busqueda"
						      type="date"
						      placeholder="Seleccione Fecha"
						      format="dd/MM/yyyy"
						      value-format="yyyy-MM-dd"
							  name="fecha_busqueda"
						      >
					    </el-date-picker>
		  				<button 
							@click.prevent="handleModalSearch"
							class="btn btn-success ml-2"
							title="Buscar">
							<i class="fas fa-search"></i>
						</button>
		  			</div>
				</div>
			</div>
			<div class="row layerSchedule">
				<div 
					class="col-4 col-sm-4 col-md-4 col-lg-4"
					v-for="item in modal.data.details"
					@click.prevent="handleModalSelectItem">
					${item.time_value}
				</div>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click.prevent="handleModalClose">
					Cancelar
				</el-button>
				<el-button type="primary" @click.prevent="handleModalSubmit">
					Continuar
				</el-button>
			</span>
		</form>
</el-dialog>