@import 'nib'

color-white = rgba(255,255,255,1)
color-black = rgba(0,0,0,1)
bg-login = url('../../images/img_bgdesktop.jpg')

@font-face
  font-family: 'Shrikhand';
  src: url('../../fonts/Shrikhand-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype')

html, body
	font-size 14px
	box-sizing border-box
	
body
	.layer_bg
		position fixed
		left 0px
		top 0px
		width 100%
		height 100%
		z-index -3
		.layer-foreground,
		.layer-background
			position absolute
			top 0px
			left 0px
			width 100%
			height 100%
		.layer-foreground
			background-color rgba(0,0,0,1)
			opacity 0.4
		.layer-background		
			padding 0px
			margin 0px
			z-index -2
			img
				width 100%
				height 100%
	
	.layer-login
		opacity 0.9
		transition 0.5s all ease-in-out
		width 50%
		max-width 100%
		height auto
		display block
		margin  10% auto
		overflow hidden
		box-shadow 1px 1px 1px 2px rgba(50,50,50,0.5)
		background-image bg-login
		background-repeat no-repeat
		// background-size 100% 100%
		background-size auto
		background-color rgba(255,255,255,0.9)
		.login-logo, .login-inputs
				width 50%
				float left
				height 25rem
		.login-inputs
			transition 1s height ease-in-out
			padding 1.78571428571rem
			padding-top 4rem
			background-color rgba(12,12,13,0.9)
			.row
				div[class^="col-"]
					padding-left 0px
					padding-right 0px
					.form-group
						label
							color color-white
							font-weight bold
						input[type="text"], input[type="password"]
							transition 0.5s background-color ease-in-out
							padding 9px
							color color-white
							background-color rgba(0,0,0,0.2)
							border none
							&:focus
								box-shadow none
								background-color rgba(79,79,80,1)
								
				
				wbtcolor = rgba(69,55,93,1)
				wbtcolor-hover = rgba(49,33,75,1)
				button
					transition 0.2s all ease-in-out
					padding 0.8rem
					font-weight bold
					color color-white
					background-color wbtcolor
					border 1px solid wbtcolor
					&:hover
						background-color wbtcolor-hover
				.login-loader
					margin 1rem auto
					img
						text-align center
						height auto
						width 50px
							
		.login-logo
			background-color rgba(0,0,0,0.5)
			position relative
			&::after
				content "WRC Natural Products"
				font-family 'Shrikhand',cursive
				font-size 2.5rem
				background transparent
				position absolute
				top 44%
				left 0
				width 100%
				text-align center
				color rgba(255,255,255,1)
				
			
.alert
	font-weight bold
	font-size 0.8rem
	padding 0.1rem 0.5rem
	margin-top 0.2rem
	margin-bottom 0.1rem


@media screen and (max-width: 640px)
	body
		.layer-login
			background transparent
			.login-logo, .login-inputs
				display block
				width 100%
			.login-logo
				transition 1s all ease-in-out
				background-image bg-login
				background-size auto
				height 200px
				&::before
					display block
					width 100%
					height 100%
					content ""
					background-color rgba(0,0,0,0.5)
					
			.login-inputs
				height auto
			

@media screen and (max-width: 980px)
	body
		.layer-login
			margin  6% auto !important
			width 80% !important
			
@media screen and (max-width: 1200px)
	body
		.layer-login
			margin  8% auto
			width 60%